<html>
    <head>
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h3>{{ subtitle }}</h3>
        <p>Choose from the below:</p>
        <form action="/api/result" method="post">
            <input type="submit" name="choice" value="🪨">
            <input type="submit" name="choice" value="📜">
            <input type="submit" name="choice" value="✂️">
            <input type="submit" name="choice" value="🦎">
            <input type="submit" name="choice" value="🖖">
        </form>
    </body>
</html>